extends layout

block content
  h1= title
  p Welcome to #{title}
  img(src='#{browserimagepath}', width='50', height='50')
  table
    tr
      td Family
      td #{useragent.ua.family}
    tr
      td OS
      td #{useragent.os.family}

  div
  table(class='gameboard')
    thead
      tr
        each column, i in gamedata[0]
          th
            button(onclick='drop(#{i})') Drop

    tbody
      each row in gamedata
        tr
          each column in row
            td
              img(src='#{column.imgurl}', width=100, height=100)

  button(onclick='clearBoard()') Clear the board

block js
  script(src='/jquery/jquery.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/Gameplay.js')
