extends layout

block content
  //-
    h1= title
    p Welcome to #{title}
  div(id='page')
    table
      tr
        td
          img(src='#{browserimagepath}', width='50', height='50')
        td
          table
            tr
              th(style='text-align: right') Family
              td #{useragent.ua.family}
            tr
              th(style='text-align: right') OS
              td #{useragent.os.family}

    div
      button(onclick='clearBoard()') Clear the board
    table(class='gameboard')
      thead
        tr
          each column, i in gamedata[0]
            th
              button(onclick='drop(#{i})') Drop

      tbody
        each row in gamedata
          tr
            each column in row
              td
                img(src='#{column.imgurl}', width=100, height=100)

block js
  script(src='/javascripts/jquery-3.2.1.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/Gameplay.js')
